body {
    width: 100%;
    font-size: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.layout-wrap {
    width: 80%;
    max-width: 960px;
    min-width: 720px;
    margin: auto;
}

header > .layout-wrap > * {
    padding: 0 20px;
}

header > .layout-wrap > a {
    float: left;
    font-size: 0;
    padding-top: 31px;
}

header > .layout-wrap > .search-box {
    float: right;
    /*display: inline-block;*/
}

header input {
    height: 30px;
    margin: 25px 0 25px 0;
}

header {
    height: 80px;
    background-color: black;
}


body .layout-wrap {
    background-color: lightgrey;
}


a,
p {
    font-size: 1rem;
}

p {
    padding: 10px 20px;
    margin: 0;
}

.tabs li>a {
    display: inline-block;
    padding-top: 10px;
}
nav,
.tabs > ul{
    padding: 20px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.tabs > ul {
    padding-top: 0;
}

.tabs {
    padding-top: 0;
}

ul {
    padding-left: 0;
}

.tabs li {
    /*display: inline-block;*/
    background-color: whitesmoke;
    margin-right: 10px;
    width: 215px;
    height: 40px;
    text-align: center;
}

.tabs li:last-child {
    margin-right: 0;
}

.nav-section {
    background-color: whitesmoke;
    margin-right: 10px;
    /*width: 32%;*/
    width: 290px;
    height: 160px;
}

.nav-section:last-child {
    margin-right: 0;
}

.nav-section > p {
    text-align: center;
    color: white;
    background-color: black;
    padding-bottom: 90px;
}

.action-list {
    position: absolute;
    display: none;
}